123.json
[{"id":"590bf777.6d6288","type":"tab","label":"Telegram_bot","disabled":false,"info":""},{"id":"150282e.cbf787d","type":"http in","z":"590bf777.6d6288","name":"","url":"/qwerty654","method":"post","upload":false,"swaggerDoc":"","x":80,"y":240,"wires":[["fb49ff46.28ce6","eac52c21.ce47c","526f1288.75231c"]]},{"id":"fb49ff46.28ce6","type":"http response","z":"590bf777.6d6288","name":"","statusCode":"200","headers":{},"x":120,"y":360,"wires":[]},{"id":"eac52c21.ce47c","type":"debug","z":"590bf777.6d6288","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":390,"y":340,"wires":[]},{"id":"526f1288.75231c","type":"change","z":"590bf777.6d6288","name":"Изменить 2 параметра","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.message.text","tot":"msg"},{"t":"set","p":"chat.id","pt":"msg","to":"payload.message.from.id","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":240,"wires":[["c6ee7b4f.074978"]]},{"id":"abd1b627.4bd7c8","type":"function","z":"590bf777.6d6288","name":"","func":"msg.payload = {\n    text: msg._dialogflow.fulfillmentText,\n    chat_id: msg.payload.message.from.id,\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":240,"wires":[["ca58e668.022378"]]},{"id":"ca58e668.022378","type":"http request","z":"590bf777.6d6288","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"https://api.telegram.org/bot1596568169:AAGqVIq2JJca4iTE0HWykp7-DchrxncUB2E/sendMessage","tls":"","persist":false,"proxy":"","authType":"","x":930,"y":240,"wires":[[]]},{"id":"c6ee7b4f.074978","type":"dialogflowv2","z":"590bf777.6d6288","dialogflow":"fb4b631c.2c569","language":"uk","debug":true,"queryParamsOK":false,"x":540,"y":240,"wires":[["abd1b627.4bd7c8","8275211e.04ff9"]]},{"id":"8275211e.04ff9","type":"debug","z":"590bf777.6d6288","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":620,"y":320,"wires":[]},{"id":"54a5f221.286e3c","type":"inject","z":"590bf777.6d6288","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":60,"wires":[["36c0c329.81215c"]]},{"id":"e5446667.4477d8","type":"http request","z":"590bf777.6d6288","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":770,"y":60,"wires":[["5045b7c3.f8b0d8"]]},{"id":"5045b7c3.f8b0d8","type":"debug","z":"590bf777.6d6288","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":950,"y":60,"wires":[]},{"id":"f2ded48f.cbe098","type":"function","z":"590bf777.6d6288","name":"","func":"msg.method = \"POST\";\nmsg.url = `https://api.telegram.org/bot${msg.telegram_token}/setWebhook?url=${msg.ngrok_url}/qwerty654`;\n//msg.url = \"https://api.telegram.org/bot1635544975:AAGRCBpmEMb0LjmRlGmpRScUYylWy-TAJRs/setWebhook?url=https://a63f1b5d29e2.ngrok.io/goroanya_bot\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":60,"wires":[["e5446667.4477d8"]]},{"id":"36c0c329.81215c","type":"change","z":"590bf777.6d6288","name":"Изменить 2 параметра","rules":[{"t":"set","p":"ngrok_url","pt":"msg","to":"https://4b718fb73b5c.ngrok.io","tot":"str"},{"t":"set","p":"telegram_token","pt":"msg","to":"1562752834:AAE0HhAK0QTOWpu3dMrW8HCHe9ZijkojWeQ","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":60,"wires":[["f2ded48f.cbe098"]]},{"id":"fb4b631c.2c569","type":"dialogflowv2-token","name":"test"}]